@import '../node_modules/normalize-css/normalize.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.css';

body {
	background-color: #e9ebee;
}

a {
	cursor: pointer;
}

/* solid variables */
@red: #FF4136;
@blue: #0074D9;
@black: #111111;
@white: #FFFFFF;

/* contextual variables */
@temp-high: @red;
@temp-low: @blue;

.temp-high {
	color: @temp-high;
}

.temp-low {
	color: @temp-low;
}

.card {
	background-color: @white;
	border: 1px solid @black;
	border-radius: 3px;
	margin: 6px;
	padding: 2px;
}

.row {
	margin-bottom: 6px;
}